html, body {
	width: 100%;
	min-height: 100%;
	color: #B2B2B2;
	font-family: arial, sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	font-weight: 300;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("/assets/concrete_wall.jpg");
}

p {
	margin: 0;
	padding: 0;
}

nav {
	background-color: rgba(0,0,0,.4);
	width: 100%;
	padding: 15px 15px;
}

a {
	color: #B2B2B2;
	text-decoration: underline;
}

a:hover {
	opacity: .5;
}

h3 {
	margin-bottom: 2px;
}

.flashAlert {
	text-align: center;
	/*background-color: rgba(255,255,255,.15);*/
	padding: 15px;
}

#loginForm {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	margin-top: 13%;
}

#loginForm a {
	color: black;
	text-decoration: none;
}

#loginForm a:hover {
	color: #B2B2B2;
}

#loginForm img {
	padding-bottom: 20px;
}

#loginForm form input {
	margin-bottom: 8px;
	color: #B2B2B2;
}

#loginForm form input[type='text'], #loginForm input[type='password'], #loginForm input[type='textarea'] {
   padding: 8px;
   outline: 0;
   background-color: rgba(255,255,255,.15);
   border:0;
   width:200px;
   font-family: arial, sans-serif;
   font-size: 1em;
   text-align: center;
 }

#loginForm form input[type='submit'] {
	padding: 8px;
   outline: 0;
   border:0;
   width:215px;
   background-color: rgba(255,255,255,.15);
	font-family: arial, sans-serif;
   font-size: 1em;
}

#loginForm form input[type='submit']:hover {
   background-color: rgba(0,0,0,.4);
}

#loginForm form input:focus {
 	background-color: rgba(0,0,0,.4);
 }

#loginForm form input:last-child {
	margin-bottom: 25px;
}

